<p>TinyApp</p>
<form action="/login" method="POST">
      <label for="name">Login</label>
      <input id="name" type="text" name="name">
      <input type="submit" value="Submit">
      </form>

<p>Thanks for logging in: <%=name%></p>