<!doctype html>
<html>
  <% include ./partials/_head %>
  <body>
  <header><% include ./partials/_header %></header>
    <h1>Please Login</h1>
    <form action="/login" method="POST">
      <p>
        <label for="email">Email</label>
        <input type="email" name="email">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password">
      </p>
      <p>
        <button type='submit'>Log In</button>
      </p>
    </form>
  </body>
</html>