<!doctype html>
<html>
  <% include ./partials/_head %>
  <body>
    <h1>Please Register</h1>
    <form action="/register" method="POST">
      <p>
        <label for="email">Email</label>
        <input type="email" value="a@a.a" name="email">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" value="pw" name="password">
      </p>
      <p>
        <button type='submit'>Log In</button>
      </p>
    </form>
  </body>
</html