<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_head %>

    <body>
      <header>
        <% include ../views/partials/_header%>
      </header>
      <h3> Short URL: <%=shortURL%></h3>
      <h3> Long URL: <%=longURL%> </h3>
      <a href="/">View All your Added Tiny URLS </a>
    </body>

</html>
