<!DOCTYPE html>
<html lang="en">
<body>
<header>
        <% include ../views/partials/_header %>
</header>


   <ul>
 <% for (key in urls){ %>
    <li> <p><%= key %> --> <%= urls[key]%> <button type="button">Delete!</button></p></li>
    <% }%>
</ul>

</ul>
</body>
</html>

