<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<header><% include ../views/partials/_header %></header>

<h1>Short and long URL</h1>

<ul>
 <% for (key in testing){ %>
    <li> <p> <%= testing[key] %><h4>Shortened to</h4> <%= key %></p></li>
    <%}%>
</ul>
    <!-- Add your EJS code here -->
</body>
</html>
