<!DOCTYPE html>
<html lang="en">
<head>
<header>
<title>TinyApp</title>
</head>
<body>
<header><% include ../views/partials/_header %></header>
    <!-- Add your EJS code here -->
<h2>URL Shortener</h2>
<ul>
 <% for (key in testing){ %>
    <li> <p> <%= testing[key] %><h4>Shortened to</h4> <%= key %></p></li>
    <%}%>
</ul>

<a href="url">link text</a>


</body>
</html>