<!DOCTYPE html>
<html lang="en">
<body>
<header><% include ../views/partials/_header%></header>



  <form action="/urls/<%=shortURL%>/update" method = "POST">
  <h3> Your new short URL: <%=shortURL%></h3>
  <p>
    <label for="variable">Submit URL to Database</label>
    <input id="variable" type="string" value="<%=longURL%>" name="variable" >
    <input type="submit" value="Submit">
  </p>
</form>
</ul>

</ul>
</body>
</html>

